##################
## Visual Studio 6
##################

.vs/

# Build results
[Dd]ebug/
[Dd]ebug_Win32/
[Rr]elease/
[Rr]elease_Win32/
*.exe
*.dll

# Object files
*.ilk
*.obj
*.pch
*.pdb
*.sbr
*.tmp

# Project cache files
*.aps
*.ncb
*.opt
*.sdf
*.suo
*.user

Thumbs.db
ehthumbs.db
Desktop.ini

*.ipch
*.db